* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo, sans-serif;
}

body {
    background-color: whitesmoke !important;
}

#navbar-img {
    width: 17.18rem
}

.dropdown-menu {
    --bs-dropdown-min-width: min-content !important;
}

.inverse-img {
    transform: rotateY(180deg);
}

#hero-texts {
    position: absolute;
    top: 40%;
    width: 40%;
}

.sm {
    margin-top: 8rem !important;
}

#about-section {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

#about-card {
    border-radius: 1.56rem;
}

#about-card .text-box {
    width: 55%;
}

#about-card .img-box {
    width: 45%;
}

#about-img1, #about-img2 {
    width: 19.125rem;
    border-radius: 1.56rem;
}

#about-img3 {
    height: 22.18rem;
    border-radius: 1.56rem;
    justify-self: left;
    align-self: end;
}

.card {
    width: 24rem;
}

.diagonal-border-img {
    border-radius: 70px 0 70px;
}

.diagonal-border-ml-img {
    border-radius: 70px 0 0 70px;
}

.diagonal-border-mr-img {
    border-radius: 0 70px 70px 0;
}

.process-img {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover;
}

iframe {
    width: 100%;
}
.carousel-container {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.carousel-container:hover .carousel-wrapper {
    animation-play-state: paused;
}

.carousel-wrapper {
    display: inline-block;
    animation: 20s slide-left infinite linear;
}

.carousel-wrapper img {
    height: 9.375rem;
    margin: 0 7rem ;
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}